.areaRenderDolar {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background: #563838;
  align-items: center;
}

.areaRenderDolar h2 {
  color: white;
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.areaRenderDolar div {
  width: 30%;
  padding: 20px;
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: blueviolet;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 1px rgb(236, 3, 3);
  margin: 20px;
}
.areaRenderDolar div h3 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.areaRenderDolar div h4 {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
}

.areaRenderDolar button {
  margin-top: 10px;
  padding: 10px;
  width: 10%;
  border: none;
  border-radius: 5px;
  transition: 500ms;
  background-color: rgba(50, 50, 50, 0.959);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 890px) {
  .areaRenderDolar div {
    width: 40%;
  }
  .areaRenderDolar h2 {
    font-size: 17px;
  }
  .areaRenderDolar div h4 {
    font-size: 12px;
  }
  .areaRenderDolar div h3 {
    font-size: 15px;
  }
  .areaRenderDolar button {
    width: 20%;
  }
}
