.addRegister {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0.81);
  align-items: center;
}

.formRegister {
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border: rgba(0, 0, 0, 0.111) solid 1px;
  border-radius: 5px;
}
.formRegister h1 {
  font-size: 25px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(5, 5, 5, 0.86);
}

.formRegister input {
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 30%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.formRegister div {
  width: 20%;
  display: flex;
  flex-direction: row;
}

.formRegister button {
  width: 100%;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;
}

.formRegister button:hover {
  color: #ffffff;
  background-color: rgb(64, 0, 255);
}

@media screen and (max-width: 700px) {
  .addRegister {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .formRegister {
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .formRegister h1 {
    font-size: 25px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(9, 8, 8);
  }

  .formRegister input {
    margin: 10px;
    padding: 10px;
    gap: 10px;
    width: 50%;
    border-radius: 5px;
  }
  .formRegister div {
    width: 50%;
    display: flex;
    flex-direction: row;
  }

  .formRegister button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 600;
  }

  .formRegister button:hover {
    color: #ffffff;
    background-color: rgb(64, 0, 255);
  }
}
