.cont {
  width: 100%;
  height: 100dvh;
  display: flex;
  background-color: #0c0816;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: green solid 1px;
}
.Title {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;

  color: rgb(255, 253, 253);
}

.inputs {
  margin: 10px;
  padding: 10px;
  gap: 10px;
  width: 50%;
  border-radius: 5px;
  outline: none;
  border: none;
  color: black;
}
.form p {
  color: red;
}

.bnt {
  width: 40%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.bntVoltar {
  text-decoration: none;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

@media (max-width: 790px) {
  .form {
    width: 90%;
  }
  .inputs {
    width: 80%;
  }
  .bnt {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
}
