.conteiner {
  width: 100%;
  height: 100vh;
  background-color: #0c0816;
  display: flex;
  flex-direction: row;
}

.area {
  width: 25%;
  height: 100vh;
  background-color: #1d1531;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 25px;
  font-family: "Arial";
  font-weight: 700;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  margin-top: 40px;
}

.bntPerfil {
  width: 50%;
  padding: 7px;
  background-color: blue;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.menuInicial {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.menuInicial button {
  width: 13%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 255, 0.3);
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}

@media (max-width: 890px) {
  .conteiner {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #0c0816;
  }
  .title {
    font-size: 14px;
    margin-top: 25px;
    margin-left: 20px;
  }
  .area {
    width: 100%;
    height: 10vh;
    background-color: #2a2045;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px 2px;
  }

  .area button {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 255, 0.3);
    margin-right: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
  .menuInicial {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menuInicial button {
    width: 60%;
    height: 1ovh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(0, 0, 255, 0.3);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }
}
