.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #0c0f17;
}

.areaTitle {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c0f17;
}
.areaTitle h2 {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.areaEmail {
  width: 50%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0f17;
  justify-content: center;
}
.areaEmail p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.areaBnts {
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  gap: 30px;
}

.areaBnts button {
  width: 80%;
  height: 150px;
  border-radius: 5px;
  background-color: #1a202e;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
}

.areaBnts button p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
@media screen and (max-width: 700px) {
  .conteiner {
    width: 100%;
    height: 100dvh;
  }

  .menu {
    width: 40%;
    height: 100vh;
    display: flex;
    background-color: rgba(255, 255, 255, 0.967);
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .areaTitle h2 {
    margin-left: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .areaTitle {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
  }

  .areaEmail {
    width: 30%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c0f17;
    justify-content: center;
    margin-right: 40px;
  }
  .areaEmail p {
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
  }
  .areaBnts {
    width: 80%;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    gap: 30px;
  }
  .areaBnts button {
    width: 70%;
    height: 10vh;
    border-radius: 5px;
    background-color: #1a202e;
    cursor: pointer;
  }
  .areaBnts button p {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
